.navbar{
	margin-bottom: 0;
	margin-top: 0;
}

.affix{
	bottom: 0;
	top: 0;
	width: 100%;
}

#navbar-brand{
	font-size: 30px;
}
	
#contact{
	color: #fff;
	font-family: "Courier New", Courier, monospace;
	background-color: #000;
}

#administrator p{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#administrator h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#user h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#team h1{
	font-family: "Comic Sans MS", cursive, sans-serif; 		
}

#team img{
	width: 50%;
}

#team img{
	width: 50%;
}	

#outline h1{
	font-family: "Comic Sans MS", cursive, sans-serif; 				
}

#col1{
	background-color: orange;
}


#col2{
	background-color: green;
}



#col3{
	background-color: blue;
}



#col4{
	background-color: brown;
}



#col5{
	background-color: yellow;
}



#col6{
	background-color: red;
}

#col7{
	background-color: yellow;
}

#col8{
	background-color: red;
}

#col9{
	background-color: green;
}

#col10{
	background-color: orange;
}

#col11{
	background-color: blue;
}

#col12{
	background-color: green;
}

#col13{
	background-color: yellow;
}

#col14{
	background-color: red;
}

	